
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: none;
}

main {
    max-width: 1280px;
    margin: 0;
}
/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/


/*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*/

header {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: limegreen;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; /* alinea verticalmente el menú en el centro */
  padding: 20px;
  background-color: transparent;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.logo img{
  width: 20%;
  height: 20%;
  padding: 2%;
  margin: 0;
  margin-top: 2%;
}

.logo p{
  width: 25%;
  height: 15%;
  color: white;
  font-size: 0.8rem;
}
h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  line-height: 1.2; 
}


.home{
  margin: 20px 40px 20px 40px;
  text-align: center;
}

.home_section{
    display: block;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center; 
   
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero figure img{
    display: flex;
    margin: 10px;
    padding: 20px;
    width: 300px;
    max-width: 550px;
    border-radius: 50%;
}

.section {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.talk {
  font-size: 28px;
}
.section_talk {
  margin: 20px 40px 20px 40px;
  
}

.section_talk{
  display: block;
  text-align: center;
  background-color: rgba(109, 175, 89, 0.3);
  padding: 15px;
  border-radius: 12px;
}

.descarga {
  text-align: center;
  margin: 20px 0;
}

.descarga a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #333;
  background-color: limegreen;
  color: white;
  text-decoration: none;
  font-size: 20px;
}


@media (max-width: 600px) {
  .descarga a {
    padding: 7px 15px;
    font-size: 14px;
  }
  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .menu ul {
    flex-direction: column;
  }
  
  .menu li {
    margin: 0;
    margin-bottom: 10px;
  }
}
 

.redes  {
  display: inline-block; 
  
  justify-content: center;
  align-content:space-between; 
}

#contacto ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#contacto li {
  display: inline-block;
  margin: 0 10px;
}


a {
  margin: 5px; 
}

.redes {
  width: 100%;
  position: relative;
  background:transparent;
  margin-bottom: 18px;
}


.redes a img {
  display: flex;
  width: 70px;
  height: 70px;
  padding: 15px; 
}


footer {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; 
  position: relative;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: limegreen;
  color: white;
}

footer p {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
  border-right: 1px solid white;
}

footer p:last-of-type {
  border-right: none;
}
